 <!--/*
  Function: Help Page UI
  Interacts with DB: No


  Author: Pulkit Gupta
  Query email: pulkit.itp@gmail.com
 */
-->

<title>{{title}}</title>

<div id="wrapper">

  <div id="header" class="slide-animate_to_be_done" ng-include="url.header"></div>    

  <div id="page-wrapper">

  	<div class="row">
  		<div class="col-lg-12">

  			<ol class="breadcrumb">
  				<li class="active"><i class="fa fa-dashboard"></i> Messages from server-> <span style="color:blue">{{serverMessage}}</span></li>
  			</ol>
  			<div class="alert alert-success alert-dismissable">
  				<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
  				Welcome to Os-ciliation web app.
  			</div>
  			<div class="alert alert-success alert-dismissable">
  				<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
  				This is a help page.
  			</div>



  		</div><!-- /.row -->


</div>
</div>