 <!--/*
  Function: UI for the login and register along with the model interation
  Interacts with DB: No


  Author: Pulkit Gupta
  Query email: pulkit.itp@gmail.com
 */
-->

<title>{{title}}</title>

<div id="wrapper">

  <div id="header" class="slide-animate_to_be_done" ng-include="url.header"></div>    



	<div id="page-wrapper">

		<div class="row">
			<div class="col-lg-12">

				<ol class="breadcrumb">
					<li class="active"><i class="fa fa-dashboard"></i> Messages from server -> <span style="color:blue">{{serverMessage}}</span></li>
				</ol>
				<div class="alert alert-success alert-dismissable">
					<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
					Welcome to Osciliation web app.
				</div>
				<div class="alert alert-info alert-dismissable">
					<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
					You are requested to enter your credentials. If you do not have your account, go to the tab of register on the left.
				</div>

				<div class="login">
					<h1>Login to your account</h1>
					<form method="post" action="">
						<p><input type="text" ng-model = "userPacket.userName" name="login" value="" placeholder="Username or Email"></p>
						<p><input type="password" ng-model = "userPacket.password" name="password" value="" placeholder="Password"></p>
						<p class="remember_me">
							<label>
								<input type="checkbox" name="remember_me" id="remember_me">
								Remember me on this computer
							</label>
						</p>
						<p class="submit"><input type="submit" name="commit" ng-click="login()"value="Login"></p>
					</form>
				</div>


			</div><!-- /.row -->

		</div><!-- /#page-wrapper -->

	</div><!-- /#wrapper -->
	 <!-- Local JavaScript -->
   
   

