 <!--/*
  Function: Show profile for all kind of user profiles.
  Interacts with DB: No


  Author: Pulkit Gupta
  Query email: pulkit.itp@gmail.com
 */
-->

<title>{{title}}</title>

<div id="wrapper">

  <div id="header" class="slide-animate_to_be_done" ng-include="url.header"></div>    

  <div id="page-wrapper">

  	<div class="row">
  		<div class="col-lg-12">

  			<ol class="breadcrumb">
  				<li class="active"><i class="fa fa-dashboard"></i> Messages from server-> <span style="color:blue">{{serverMessage}}</span></li>
  			</ol>
  			<div class="alert alert-success alert-dismissable">
  				<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
  				Welcome <span style="color: blue"> {{userInfo.name}} </span> to Os-ciliation web app.
  			</div>
        <div class="alert alert-info alert-dismissable">
  				<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
  				This is your profile page. Your User Type is -> <span style="color: blue"> {{userInfo.type}} </span> 
  			</div>

        
        <div class="alert alert-info alert-dismissable">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>

          <div class="grid_7 " ng-switch= "userType" >
            <div  ng-switch-when= "Admin" class="fade-animation" >
              As you are one of admin, you can change the profile seetings of all users present. You can see that you have an extra menu on the left called "User Management".
            </div>

            <div  ng-switch-when= "Authenticated user" class="fade-animation" >
              As you are one of normal user, you can only access your profile.
            </div>
           
        </div>


  		</div><!-- /.row -->


</div>
</div>