 <!--/*
  Function: Register UI 
  Interacts with DB: No


  Author: Pulkit Gupta
  Query email: pulkit.itp@gmail.com
 */
-->

<title>{{title}}</title>

<div id="wrapper">

  <div id="header" class="slide-animate_to_be_done" ng-include="url.header"></div>    



	<div id="page-wrapper">

		<div class="row">
			<div class="col-lg-12">

				<ol class="breadcrumb">
					<li class="active"><i class="fa fa-dashboard"></i> Messages from server-> <span style="color:blue">{{serverMessage}}</span></li>
				</ol>
				<div class="alert alert-success alert-dismissable">
					<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
					Welcome to Osciliation web app.
				</div>

				<div class="alert alert-info alert-dismissable">
					<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
					Here you can register for a user, but that profile will be a normal. If you want to have admin rights, then ask any admin you know.
				</div>

				<div class="login">
					<h1>Register for your account</h1>
					<form method="post" action="">
						<p><input type="text" ng-model = "userPacket.userName" name="username" value="" placeholder="Username "></p>

						<p><input type="text" ng-model = "userPacket.email" name="username" value="" placeholder="Email"></p>
						<p><input type="password" ng-model = "userPacket.password" name="password" value="" placeholder="Password"></p>
						</p>
						
						<p class="submit"><input type="submit" ng-click = "register()" name="commit" value="Register"></p>
					</form>
				</div>


			</div><!-- /.row -->

		</div><!-- /#page-wrapper -->

	</div><!-- /#wrapper -->
	 <!-- Local JavaScript -->
   
   

