 <!--/*
  Function: Side bar and menu code resuablity function
  Interacts with DB: No


  Author: Pulkit Gupta
  Query email: pulkit.itp@gmail.com
 */
-->


	<!-- Sidebar -->
	<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
			<a class="navbar-brand" href="#">Os-cillation Panel </a>
		</div>

		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse navbar-ex1-collapse">
			<ul class="nav navbar-nav side-nav">

				<li class="{{active[0]}}" ng-click="changeView(0)" id="{{menu[0]}}"><a href=""><i class="fa fa-dashboard"></i> {{menu[0]}}</a></li>
				
				<li class="{{active[1]}}" ng-click="changeView(1)" id="{{menu[1]}}"><a href=""><i class="fa fa-bar-chart-o"></i> {{menu[1]}}</a></li>

				<li class="{{active[2]}}" ng-click="changeView(2)" id="{{menu[2]}}"><a href=""><i class="fa fa-bar-chart-o"></i> {{menu[2]}}</a></li>
				
			</ul>

			<div ng-if="session">
				<ul class="nav navbar-nav navbar-right navbar-user">

					<li class="dropdown user-dropdown" ng-click = "logout()">
						<a href="" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> Logout <b class="caret"></b></a>
					</li>
				</ul>
			</div>
			

		</div><!-- /.navbar-collapse -->
	</nav>
