 <!--/*
  Function: UI for the admin sub page for all user display table
  Interacts with DB: No


  Author: Pulkit Gupta
  Query email: pulkit.itp@gmail.com
 */
-->

<title>{{title}}</title>

<div id="wrapper">

  <div id="header" class="slide-animate_to_be_done" ng-include="url.header"></div>    

  <div id="page-wrapper">

  	<div class="row">
  		<div class="col-lg-12">

  			<ol class="breadcrumb">
  				<li class="active"><i class="fa fa-dashboard"></i> Messages from server-> <span style="color:blue">{{serverMessage}}</span></li>
  			</ol>
  			<div class="alert alert-success alert-dismissable">
  				<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
  				Welcome <span style="color: blue"> {{userInfo.name}} </span> to Os-ciliation web app.
  			</div>
        <div class="alert alert-info alert-dismissable">
  				<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
  				This is User configuration menu. You can tick on admin if you want to make a user to have admin rights.
  			</div>

  		</div><!-- /.row -->

      <div class="row">
        <div class="col-lg-6">
          <h2>All Users</h2>
          <div class="table-responsive">
            <table class="table table-bordered table-hover table-striped tablesorter">
              <thead>
                <tr>
                  <th>UserID <i class="fa fa-sort"></i></th>
                  <th>Name <i class="fa fa-sort"></i></th>
                  <th>Email <i class="fa fa-sort"></i></th>
                  <th>Date & Time of creation <i class="fa fa-sort"></i></th>
                   <th>Mark as Admin <i class="fa fa-sort"></i></th>
                  
                </tr>
              </thead>
              <tbody>
                  <tr class="success" ng-repeat="rowObj in data" ng-init="init()">
                      <td >{{ rowObj.id }}</td>
                      <td >{{ rowObj.name }}</td>
                      <td >{{ rowObj.email }}</td>
                      <td >{{ rowObj.timestmp }}</td>
                      <td ><input type='checkbox' ng-change='changeUserProfile(rowObj.id, rowObj.type)' ng-true-value="admin" ng-false-value ="user" ng-model="rowObj.type">{{rowObj.type}}</td>

                  </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="col-lg-6">
          
        </div>
      </div><!-- /.row -->

</div>
</div>