
<!--
 /*
  Function: Main Includes and file for angular app
  Interacts with DB: No
  Entry point: ng-View

  Author: Pulkit Gupta
  Query email: pulkit.itp@gmail.com
 */

-->

<!doctype html>
<html lang="en" ng-app="myApp">
<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="pulkit.eu" content="">
  <meta name="Pulkit" content="">



  <!--Css definations -->

  <!-- Custom Css  -->
  
   <link rel="stylesheet" type="text/css" href="css/css_login/style.css" />
  

  <!-- Global Theme -->
  <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.css" rel="stylesheet">
    <!-- Add custom CSS here -->
    <link href="css/main.css" rel="stylesheet">



   <!--Main angular app-->
  <script src="lib/angular/angular.js"></script>
  <!-- In production use:
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
  -->
  <script src="lib/angular/angular-route.js"></script>
  <script src="js/app.js"></script>


   <!-- Angular controllers -->
  <script src="js/controllers/loginController.js"></script>
  <script src="js/controllers/homeController.js"></script>
  <script src="js/controllers/adminController.js"></script>
  <!-- Angular services-->
  <script src="js/services/userService.js"></script>
  <script src="js/services/sessionService.js"></script>
  

  <!-- local java scriipt -->
    
  <script src="js/local_js/jquery-1.10.2.js"></script>
  <script src="js/local_js/bootstrap.js"></script>
  <script src="js/local_js/tablesorter/jquery.tablesorter.js"></script>
  <script src="js/local_js/tablesorter/tables.js"></script>



</head>

<!--<body  ng-controller="mainController" > -->

<body>
  <div ng-view></div>

  <!-- this is where content will be injected 
  <div ng-view class = "{{ pageClass }}  fade-animation"></div>
  -->
</body>
</html>

